@import '_media/media';

.expresscheckout{
  padding-top: 1px;
  > p{
    font-size: 18px;
    font-weight: 900;
    margin-top: 18px;
  }
  > form{
    input, select{
      display: block;
      width:100%;
      border-radius: 12px;
      border: 1px solid #CDCDCD;
      padding: 4px 10px;

      @include tablet {
        display: inline-block;
        width: 52%;
        margin: 5px 15% 0 12px;
      }

      @include desktop {
        display: inline-block;
        width: 52%;
        margin: 5px 15% 0 12px;
      }
    }
    label{
      display: block;
      margin-top: 2px;
      margin-bottom: 0px;
      font-weight: 400;

      @include tablet {
        display: inline-block;
        width: 200px;
        text-align: right;
      }

      @include desktop {
        display: inline-block;
        width: 200px;
        text-align: right;
      }
    }
    .interesting{
      margin-top: 15px;

      @include tablet {
        display: inline-block;
        width: 200px;
        text-align: right;
        vertical-align: top;
      }

      @include desktop {
        display: inline-block;
        width: 200px;
        text-align: right;
        vertical-align: top;
      }
    }
    .interesting-list{
      margin-bottom: 15px;

      @include tablet {
        display: inline-block;
        width: 52%;
        margin: 15px 15% 15px 12px;
        vertical-align: top;
      }

      @include desktop {
        display: inline-block;
        width: 52%;
        margin: 15px 15% 15px 12px;
        vertical-align: top;
      }
    }
    .marketing{

      @include tablet {
        margin-left: 10%;
        display: inline-block;
      }

      @include desktop {
        margin-left: 10%;
        display: inline-block;
      }
    }
    .inline-label{
      display: inline;
      vertical-align: middle;
      margin-top: 0;
    }
    input[type=checkbox]{
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        margin-top: 0;
        vertical-align: middle;
    }

    select{
      @include tablet {margin-left: 8px;}
      @include desktop {margin-left: 8px;}
    }

    button{
      font-size: 22px;
      color: #FFF;
      font-weight: 900;
      border-radius: 12px;
      padding: 3px 25px;
      background: url("./button.png") no-repeat;
      border: 0;
      margin-top: 17px;
      width: 164px;

        @include tablet {
          margin-left: 225px;
        }

        @include desktop {
          margin-left: 225px;
        }
    }
    .next-msg{
      display: none;;

        @include tablet {
          display: block;
          margin: 35px 0 0 0;
        }

        @include desktop {
          display: block;
          margin: 35px 0 0 0;
        }
    }
  }
}

.express-checkout{
  background-color:#FFF;
  padding: 20px 15px;
  border: 2px solid #CDCDCD;
  margin-bottom: 24px;
  line-height: 120%;

  &_product{
    padding-bottom: 10px;
    .ec-product{

      @include desktop {
        float: left;
        line-height: 150%;
        width: 80%;
      }
    }
    .ec-price{

      @include desktop {
        float: right;
        line-height: 150%;
      }
    }
  }

  &_total{

    @include desktop {
      clear: both;
      text-align: right;
	    width: 100%;
      margin-bottom: 0;
      line-height: 150%;
    }

  }

}
