@import '_media/media';

.order-qty > a{
  display: block;

  @include tablet {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
  }

  @include desktop {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;
  }
}

.product-small-image{
  margin:auto;;
  width: 110px;
  > img {
    width:100%;
  }

  @include tablet {
    display: inline-block;
    width: 16%;
    vertical-align: top;
  }

  @include desktop {
    display: inline-block;
    width: 16%;
    vertical-align: top;
  }
}

.order-qty{
  margin: 23px 0;
}

.product-order-description,
.product-order-regular_price{
  line-height: 122%;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 12px;
  margin-top: 15px;
  text-align: center;
}

.product-order-description{

  @include tablet {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-left:8%;
    text-align: left;
  }

  @include desktop {
    display: inline-block;
    width: 36%;
    vertical-align: top;
    margin-left:8%;
    text-align: left;
    padding-right: 5%;
  }
}

.product-order-regular_price{

  @include tablet {
    display: inline-block;
    width: 24%;
    text-align: left;
  }

  @include desktop {
    display: inline-block;
    width: 32%;
    text-align: center;
    vertical-align: top;
  }
}

.ordered-product{

  @include tablet {
    display: block;
    width:100%;
  }

  @include desktop {
    display: inline-block;
    width:39%;
  }

  .product-order_qty{
    font-size: 21px;
    margin: 10px 0;
    text-align: center;

    @include tablet {
      display: inline-block;
      width:32%;
    }

    @include desktop {
      display: inline-block;
      width: 32%;
      text-align: center;
      vertical-align: top;
    }

     > span{
      margin-left: 5px;
      font-size: 16px;
    }
    > input{
      width:70px;
      border-radius: 10px;
      margin-left: 10px;
      border: 1px solid #CDCDCD;
      text-align: center;
    }
  }
}

.product-order-total-price{
  font-size: 22px;
  font-weight: 900;
  color:#DC5730;
  text-align: center;

  @include tablet {
    display: inline-block;
    width:32%;
  }

  @include desktop {
    display: inline-block;
    width: 32%;
    text-align: center;
    vertical-align: top;
  }
}

.desktop-hide{
  display: inline;
  @include desktop {
    display: none;
  }
}

.order-header{
  display:none;
  @include desktop {
    display: block;
    width:100%;
    margin-bottom: 10px;
  }
  > div{
    display:inline-block;
  }
  &-product{
    width: 60%;
    text-align: left;
  }
  &-unitprice, &-quantity, &-price{
  text-align: center;
  width: 12%;
  }
}
