@import '_media/media';

.product-image{
  margin:auto;;
  width: 200px;
  > img {
    width:100%;
  }

  @include tablet {
    display: inline-block;
    width: 20%;
    vertical-align: top;
  }

  @include desktop {width: 21%;}
}

.product-description{
  text-align: center;

  @include tablet {
    display: inline-block;
    width:78%;
    text-align: left;
    margin-left: 1%;
  }

  @include desktop {
    width:43%;
    max-width: 415px;
  }

  &_title{
    line-height: 122%;
    font-size: 19px;
    font-weight: 900;
    margin-bottom: 12px;
    margin-top: 10px;
  }

  &_description{
    border-top: 1px dashed;
    font-size: 14px;
    padding: 10px 0;
    line-height: 136%;
  }
}

.product-order{
  text-align: center;

  @include tablet {
    margin-left: 21.5%;
    width:78%;
    text-align: left;
  }

  @include desktop {
    margin-left: 0;
    display: inline-block;
    width:34%;
    text-align: right;
    vertical-align: top;
  }

  &_price{
    margin-top: 15px;

    @include tablet {
      display: inline-block;
      width:32%;
    }

    @include desktop {
      display: block;
      width: auto;
      margin-top: 6px;
      margin-bottom: 78px;
    }
    .regular_price{
      font-size: 19px;
      .cross {
        position: relative;
        display: inline-block;
      }
      .cross::before, .cross::after {
        content: '';
        width: 100%;
        position: absolute;
        right: 0;
        top: 50%;
      }
      .cross::before {
          border-bottom: 2px solid red;
          -webkit-transform: skewY(-16deg);
          transform: skewY(-16deg);
      }
    }
    .new_price{
      font-size: 32px;
      font-weight: 900;
      color:#DC5730;
    }
  }
  &_qty{
    font-size: 21px;
    margin: 10px 0;

    @include tablet {
      display: inline-block;
      width:135px;
    }

    @include desktop {width:auto;}

    > input{
      width: 80px;
      border-radius: 10px;
      margin-left: 10px;
      border: 1px solid #CDCDCD;
    }
  }
  &_btn{

  @include tablet {
    display: inline-block;
    width:170px;
  }

  @include desktop {
    width:auto;
    margin-left: 10px;
  }
  }
}
